<div class="container">
	<div class="single_book_title">
		<h1> {{book.title}}</h1>
	</div>
	<div class="single_book pure-g">
		<div class="single_cover_container pure-u-1 pure-u-md-1-3">
			<img class="single_cover" src="/images/covers/{{book.cover}}"></img>
		</div>
		<div class="single_book_description pure-u-1 pure-u-md-1-2">
			<p> {{book.description}}</p>
		</div>
	</div>
	
	<div class="merchant_links pure-g">
		{{#if book.links.print}}
			<div class="print_links pure-u-1 pure-u-md-1-3">
					<h2> Buy print copy </h2>
				{{#if book.links.print.amazon}}
					<a href="{{book.links.print.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
				{{/if}}
				{{#if book.links.print.areb}}
					<a href="{{book.links.print.areb}}"><img class="merchant_link" src="/images/logos/areb.jpg"></a>
				{{/if}}
				{{#if book.links.print.BandN}}
					<a href="{{book.links.print.BandN}}"><img class="merchant_link" src="/images/logos/BandN.png"></a>
				{{/if}}
			</div>
		{{/if}}

		{{#if book.links.ebook}}
			<div class="ebook_links pure-u-1 pure-u-md-1-3">
					<h2> Buy Ebook </h2>
				{{#if book.links.ebook.areb}}
					<a href="{{book.links.ebook.areb}}"><img class="merchant_link" src="/images/logos/areb.jpg"></a>
				{{/if}}
				{{#if book.links.ebook.kobo}}
					<a href="{{book.links.ebook.kobo}}"><img class="merchant_link" src="/images/logos/kobo.png"></a>
				{{/if}}
				{{#if book.links.ebook.eCave}}
					<a href="{{book.links.ebook.eCave}}"><img class="merchant_link eCave_link" src="/images/logos/eCave.png"></a>
				{{/if}}
				{{#if book.links.ebook.amazon}}
					<a href="{{book.links.ebook.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
				{{/if}}
				{{#if book.links.ebook.bandN}}
					<a href="{{book.links.ebook.BandN}}"><img class="merchant_link" src="/images/logos/BandN.png"></a>
				{{/if}}
				{{#if book.links.ebook.itunes}}
					<a href="{{book.links.ebook.itunes}}"><img class="merchant_link" src="/images/logos/itunes.png"></a>
				{{/if}}
				{{#if book.links.ebook.smashwords}}
					<a href="{{book.links.ebook.smashwords}}"><img class="merchant_link" src="/images/logos/smashwords.png"></a>
				{{/if}}
			</div>
		{{/if}}

		{{#if book.links.audiobook}}
			<div class="audiobook_links pure-u-1 pure-u-md-1-3">
					<h2> Buy Audiobook </h2>
				{{#if book.links.audiobook.audible}}
					<a href="{{book.links.audiobook.audible}}"><img class="merchant_link" src="/images/logos/audible.png"></a>
				{{/if}}
				{{#if book.links.audiobook.amazon}}
					<a href="{{book.links.audiobook.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
				{{/if}}
				{{#if book.links.audiobook.itunes}}
					<a href="{{book.links.audiobook.itunes}}"><img class="merchant_link" src="/images/logos/itunes.png"></a>
				{{/if}}
			</div>
		{{/if}}
	</div>
</div>