<div class="widget-plugins">
	<!-- Please call pinit.js only once per page -->
	<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
	}(document, "script", "twitter-wjs"));
	</script>
</div>

<div class="container">
	<div class="single_book_title">
		<h1> {{book.title}}</h1>
	</div>
	<div class="single_book pure-g">
		<div class="single_cover_container pure-u-1 pure-u-md-1-3">
			<img class="single_cover" src="/images/covers/{{book.cover}}"></img>
			<div class="single_book_social_links">
				<a data-pin-config="hidden" data-pin-do="buttonPin" null href="//www.pinterest.com/pin/create/button/?url=http://samanthakane.us/books/{{book.title}}&media=http://samanthakane.us/images/covers/{{book.cover}}&description=Samantha%20Kane">
					<img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png"/>
				</a>
				<a class="twitter-share-button" data-count="none" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fsamanthakane.us%2Fbooks%2F{{book.title}}">Tweet</a>

				<div class="fb-share-button" data-href="http://samanthakane.us/books/{{book.title}}" data-layout="button">Facebook</div>
				{{#if book.goodreadsID}}
					<div id="gr_add_to_books">
				    <div class="gr_custom_each_container_">
				      <a href="https://www.goodreads.com/book/show/{{book.goodreadsID}}" style="border:none" target="_blank"><img src="https://www.goodreads.com/images/atmb_add_book-70x25.png" /></a>
				    </div>
				  </div>
				  <!-- the identifier in the following script tag can be a GR book id or an isbn -->
				  <script src="https://www.goodreads.com/book/add_to_books_widget_frame/{{book.goodreadsID}}?atmb_widget%5Bbutton%5D=atmb_widget_1.png&amp;atmb_widget%5Bhide_friends%5D=on">
				  </script>
			  {{/if}}
			</div>
		</div>
		<div class="single_book_description pure-u-1 pure-u-md-1-2">
			<h3>Description:<br><br></h3>
			<p> {{book.description}}</p>
		</div>
	</div>
	
	<div class="merchant_links pure-g">
		{{#if book.links.print}}
			<div class="pure-u-1 pure-u-md-1-3">
				<h2 class="merchant_header"> Buy print copy </h2>
				<div class="external_links">
					{{#if book.links.print.amazon}}
						<a href="{{book.links.print.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
					{{/if}}
					{{#if book.links.print.areb}}
						<a href="{{book.links.print.areb}}"><img class="merchant_link" src="/images/logos/areb.jpg"></a>
					{{/if}}
					{{#if book.links.print.BandN}}
						<a href="{{book.links.print.BandN}}"><img class="merchant_link" src="/images/logos/BandN.png"></a>
					{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if book.links.ebook}}
			<div class="merchant_ebooks pure-u-1 pure-u-md-1-3">
				<h2 class="merchant_header"> Buy Ebook </h2>
				<div class="external_links">
					{{#if book.links.ebook.amazon}}
						<a href="{{book.links.ebook.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
					{{/if}}
					{{#if book.links.ebook.BandN}}
						<a href="{{book.links.ebook.BandN}}"><img class="merchant_link" src="/images/logos/BandN.png"></a>
					{{/if}}
					{{#if book.links.ebook.areb}}
						<a href="{{book.links.ebook.areb}}"><img class="merchant_link" src="/images/logos/areb.jpg"></a>
					{{/if}}
					{{#if book.links.ebook.kobo}}
						<a href="{{book.links.ebook.kobo}}"><img class="merchant_link" src="/images/logos/kobo.png"></a>
					{{/if}}
					{{#if book.links.ebook.eCave}}
						<a class="eCave_link" href="{{book.links.ebook.eCave}}"><img class="eCave_logo merchant_link" src="/images/logos/eCave2.png"></a>
					{{/if}}
					{{#if book.links.ebook.smashwords}}
						<a href="{{book.links.ebook.smashwords}}"><img class="merchant_link" src="/images/logos/smashwords.png"></a>
					{{/if}}
					{{#if book.links.ebook.itunes}}
						<a href="{{book.links.ebook.itunes}}"><img class="merchant_link" src="/images/logos/itunes.png"></a>
					{{/if}}
				</div>
			</div>
		{{/if}}

		{{#if book.links.audiobook}}
			<div class="pure-u-1 pure-u-md-1-3">
				<h2 class="merchant_header"> Buy Audiobook </h2>
				<div class="external_links">
					{{#if book.links.audiobook.audible}}
						<a href="{{book.links.audiobook.audible}}"><img class="merchant_link" src="/images/logos/audible.png"></a>
					{{/if}}
					{{#if book.links.audiobook.amazon}}
						<a href="{{book.links.audiobook.amazon}}"><img class="merchant_link" src="/images/logos/amazon.png"></a>
					{{/if}}
					{{#if book.links.audiobook.itunes}}
						<a href="{{book.links.audiobook.itunes}}"><img class="merchant_link" src="/images/logos/itunes.png"></a>
					{{/if}}
				</div>
			</div>
		{{/if}}
	</div>
</div>



