{{!-- <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=13&l=ez&f=ifr&linkID=760485248d317e39250caee3ed382784&t=samakane-20&tracking_id=samakane-20" width="468" height="60" scrolling="no" border="0" margin-top="15px" marginwidth="0" style="border:none;" frameborder="0"></iframe> --}}
<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=amzn_echo_fall_1008&banner=1GC1RA3F04TAYJPRHP02&f=ifr&linkID=ba1d21a2741fc3160a53f21a67ac75ee&t=samakane-20&tracking_id=samakane-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>


<div id="main">
	<div class="primary pure-g">
		<div class="newsletter pure-u-1 pure-u-md-7-24">
			<h2>Newsletter</h2>
			<p>Sign up!</p>
			
			<!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
              <form action="//samanthakane.us5.list-manage.com/subscribe/post?u=d56cadf6d5dd3d90aa0b8a99d&amp;id=810dff8484" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="mc_newsletter">
                  <input type="email" value="" name="EMAIL" placeholder="Email Address"class="required email" id="mce-EMAIL">
                  <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_d56cadf6d5dd3d90aa0b8a99d_810dff8484" tabindex="-1" value=""></div>
                  <div class="mc_newsletter clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
              </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

      <div class="main_bio">
				<h2> Samantha Kane </h2>
				<p>Samantha Kane is the author of the best-selling historical erotic romance series Brothers in Arms, the historical romance series, The Saint’s Devils, two Contemporary erotic romance series, Mercury Rising and Birmingham Rebels, and the historical erotic romance series The 93rd Highlanders, as well as other erotic and romance novels, and is a contributor to several romance anthologies. Ms Kane appears at conventions and events through the year.</p>
			</div>

		</div>
		<div class="latest pure-u-1 pure-u-md-10-24">
			<div class="latest-header">
				<h2>Latest Release</h2>
			</div>
			<div class="latest-container">
				<div class="latest-cover">
					<a href="/books/{{latest.title}}">
						<img src="/images/covers/{{latest.cover}}"/>
					</a>
				</div>
				<div class="latest-description">
					<div class="latest-links">
						<h2><a href="{{latest.buy_link}}">Buy Now!</a></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="upcoming pure-u-1 pure-u-md-7-24">
			<h2>Upcoming</h2>
			{{#if next}}
			{{#each next}}
				<div class="upcoming_release">
					<div class="next-cover">
						{{#if this.cover}}
							<a href="/books/{{this.title}}">
								<img src="/images/covers/{{this.cover}}"/>
							</a>
						{{else if this.title}}
							<a href="/books/{{this.title}}">
								<p>{{this.title}}, {{this.subtitle}}</p><br>
							</a>
						{{else}}
							<p>Coming Soon!</p><br>
						{{/if}}
					</div>
					<div class="preorder">
						{{#if this.release}}
							<p> Release Date: <br><b>{{this.release}}</b><br><br></p>
							
							{{#if this.preorder}}
								<a href="{{this.preorder}}">Preorder</a>
							{{else if this.available_for_preorder}}
								<p>Available for preorder: <br><b>{{this.available_for_preorder}}</b></p>
							{{/if}}
						{{/if}}
					</div>
				</div>
			{{/each}}
			{{else}}
				More to Come Soon!
			{{/if}}
			<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=8&l=ez&f=ifr&linkID=778a7f57a73793d99837a411fed113cc&t=samakane-20&tracking_id=samakane-20" width="120" height="240" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
		</div>
	</div>

{{!-- 	<div style="margin-left:15%;margin-right:15%;margin-top:40px;text-align:center;">
			<h3>For Love and Country:</h3><br><br>
			Sir Barnabas James is secretive, manipulative, cold and alone. He abhors society and shuns personal attachments despite a long list of lovers. All the better to be the consummate spymaster in service to King and country. Until an old enemy asks a personal favor…<br><br>Lord Ambrose Wetherald has always taken pride in his status as an English gentleman. He obeys even the strictest of society’s rules, is unfailingly polite and deferential, and feels it is his responsibility to protect women and the underprivileged. He has also saved himself for marriage. Until one day he needs a favor…<br><br>Melinda de Vere was once the spoiled and willful toast of the London season, but she threw it all away on childish escapades and unfulfilling love affairs. Now she is married to a treasonous scoundrel who abuses and degrades her. Until one day she is rescued by two men she has never met.<br><br>When Barnabas demands Ambrose repay the favor in his bed and Mel goes undercover as Barnabas’s housekeeper to help trap her traitorous husband, the three embark on a sensuous affair. Barnabas will have to choose love over duty, Ambrose must surrender his reputation, and Mel will need to learn to trust again if the mismatched, unsuitable lovers hope to survive the devious plot against them.
	</div> --}}
	<div class="secondary pure-g">
		<div class="pure-u-1 pure-u-md-1-2">
			<a href="/library">
				<h1>Contemporary Romance</h1>
			</a>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<a href="/library#historical">
				<h1>Historical Romance</h1>
			</a>
		</div>
	</div>
</div>

