<div class="library">
	<div class="library_series">
		<h2> Birmingham Rebels </h2>
		{{#each rebels}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
	<div class="library_series">
		<h2> 93rd Highlanders </h2>
		{{#each highlanders}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
	<div class="library_series">
		<h2> Mercury Rising </h2>
		{{#each mercury}}
			<div class="library-collection">		
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
	<div class="library_series">
		<h2> Saint's Devils </h2>
		{{#each saints}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
	<div class="library_series" id="historical">
		<h2> Brothers in Arms </h2>
		{{#each brothers}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>

	<div class="library_series">
		<h2> Standalone Romance </h2>	
		{{#each standalone}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
	<div class="library_series">
		<h2> Romance Anthologies </h2>
		{{#each anthologies}}
			<div class="library-collection">
				<h3>
					<a href="/books/{{this.title}}">{{this.title}}</a>
				</h3>
				<a href="/books/{{this.title}}">
					<img class="cover_thumbnail" src="/images/covers/{{this.cover}}"></img>
				</a>
			</div>
		{{/each}}
	</div>
</div>
